<!DOCtype html>
<form id="tests-form" method="post">
    <section>
        <h2>Testing Centre Homepage</h2><br>
        <div id = "questionCountNumberDiv">
        <strong>Question Number : </strong><label id = "questionCountNumber"></label>
        </div>
    
        <div id = "timerDiv">
        <strong>Time Remaining :</strong><label id = "timer"></label>
        </div>
        <br>
        <br>
        <div id  = "questionBox">
        <table>
            <tr>
            <th id = "question"></th>
            
            </tr>
            <tr>
                <td>
                    <b>             
                    <input type = "radio" name = "optionsGrp" id = "opt1"/><label id = "option1"></label><br>
                    <input type = "radio" name = "optionsGrp" id = "opt2"/><label id = "option2"></label><br>
                    <input type = "radio" name = "optionsGrp" id = "opt3"/><label id = "option3"></label><br>
                    <input type = "radio" name = "optionsGrp" id = "opt4"/><label id = "option4"></label>
                    </b>
                </td>
            </tr>
        </table>
        </div>
    </section>
    <br>
    
    <section>
    
    <!--button type="button" id = "previousButtonforTests">Previous</button-->
    <!--button type="button" id = "submitAnswer">SubmitAnswer and Next</button-->
    <button type="button" id = "nextButtonforTests">SubmitAnswer and Next</button>
    
    </section>
</form>