<DO
<form id="flashcard-form" method="post">
    
    <section>
        <h6>{{firstName}} {{lastName}}</h6>
        <h2>Flashcard Learning Centre Homepage</h2><br>
        <div id  = "flahcardBox">
        <table>
            <tr>
            <h2><th id = "mainWord"></th></h2>
            </tr>
            <tr>
                <td><b>Meaning </b></td>
                <td id = "meaning"></td>
            </tr>
            <tr>
                <td><b>Usage</b></td>
                <td  id = "usage"> </td> 
            </tr>
             <tr>
                <td><b>Synonym</b></td>
                <td  id = "synonym"> </td> 
            </tr> <tr>
                <td><b>Antonym</b></td>
                <td  id = "antonym"> </td> 
            </tr>
        </table>
        </div>
    </section>
    <br>
    
    <section>
    
    <button type="button" id = "previousButton">Previous</button>
    <button type="button" id = "nextButton">Next</button>
    
    </section>
</form>