<!DOCTYPE html>
<html>
<body>

<form method="POST" id="loginpage">
    <div id = "LoginSignUp">
        <div id = "loginDiv">
            <h2><label>Username : </label><input type="text" id="userid"/></h2><br>
            <h2><label>Password : </label><input type="password" id="pswd"/></h2><br>
            <button type="button" id = "loginButton">Login</button>
            <button type="button" id = "cancelButton">Cancel</button>
        </div>
        <div id = "signupDiv">
            <h3>Dont have an account ?</h3><br> 
            <button type = "button" id = "signupButton">Sign Up</button>
        </div>
    </div>

    <div id = "loginArticle">
        <article>
        <p>
    <strong>GRE Vocabulary</strong>
The single best way to improve your GRE verbal score is to increase your vocabulary. 
It is to your advantage to learn as many new words as possible before you take the test. 
However, learning new vocabulary words is not easy -- it takes time. Lots of it!
        </p>
        <p>
<strong>Improving Your Vocabulary</strong>
GRE Vocab Master keeps track of your progress by keeping a tally of which words you have seen and which words you have mastered. 
Learning vocabulary words for the GRE takes time, and GRE Vocab Master simplifies the process by adjusting to your skill level and by giving you words of appropriate difficulty.
</p>
    </article>
</div>

 </form>
</body>
</html>