<form method="POST" id="signuppage">
    <section>
        <br>
    <h2><label for="firstname">First name: </label>
              <INPUT type="text" id="firstName"/></h2>
    <h2><label for="lastname">Last name: </label>
              <INPUT type="text" id="lastName"/><h2>
    <h2><label for="email">email: </label>
              <INPUT type="text" id="email"/><h2>
    <h2><label for="login">login id: </label>
              <INPUT type="text" id="login"/><h2>
    <h2><label for="password">password: </label>
              <INPUT type="password" id="password"/><h2>
    <h2><label for="education">education: </label>
              <INPUT type="text" id="education"/><h2>
    <h2><label for="gpa">gpa: </label>
              <INPUT type="number" id="gpa"/><h2>
    <h2><label for="address">address: </label>
              <INPUT type="text" id="address"/><h2>
    <h2><label for="age">age: </label>
              <INPUT type="number" id="age"/><h2>
    <h2><INPUT type="radio" name="sex" id="Male" value="Male"><label> Male</label></h2>
    <h2><INPUT type="radio" name="sex" id="Female" value="Female"><label> Female</label></h2>
    <button type = "button" id = "submitButton"> Submit Details </button> 
    </section>
</form>